<p>
  <%= text_field :login, :label => "Login" %>
</p>
<p>
  <%= text_field :email, :label => "Email" %>
</p>
<p>
  <%= password_field :password, :label => "Password" %>
</p>
<p>
  <%= password_field :password_confirmation, :label => "Password Confirmation" %>
</p>
<p>
  <%= submit "Ok" %>
</p>